.Input {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Input input {
  width: 18rem;
  height: 2.5rem;
  text-align: right;
  padding: 0 1rem;
  font-family: Dirooz, sans-serif;
  border: 1px solid rgb(210, 205, 205);
  border-radius: 10px;
  margin-top: 0.5rem;
}

.Input input:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .Input input {
    width: 14rem;
    height: 2rem;
  }
}